#
# - Backup Manager -
# 
# Configuration File
#
# Locations:
# [<name>]=<path>
#
# If you have a gibak location set up, call it gibak.
#
[gibak]=/home/ruphy
[test]=/home/ruphy/test

# Format:
# <location>,<type>,<name>,<url/remote>
#
# <type> can be one of the following:
# - git
# - rsync
#
# If <type> is a git repo, use the remote name for <url>
# For now only pushing the current branch (with the command 'git push <remote>')
# is supported
#
# Examples:
#
# home,rsync,Local backup,/backup/home
# myproject,git,Local GIT backup,origin
#
# Lines that start with '#' will be ignored.
#
gibak,git,CCoders.org,origin
test,git,test,origin
